{% extends "App/base.html" %}

{% block content %}
    <div class="d-flex flex-column min-vh-75 justify-content-center align-items-center">
        <h1>Crear animal</h1>
        <form style="width: 300px;" action="{% url 'crear_animal' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad" required class="form-control" min="0">
            </div>
            <div class="mb-3">
                <label for="especie">Especie:</label>
                <input type="text" id="especie" name="especie" required class="form-control">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
{% endblock %}